<h1>Races index</h1>
<p>
<%= @user.name %>
</p>
<p>
<%= link_to "Add race", new_user_race_path %>
</p>

<h2>Upcoming races</h2>
<% @races.each do |x| %>
<ol>
  <% if x.finish_time.nil? %>
    <%= render 'race_item', x: x %>
  <% end %>
</ol>
<% end %>

<h2>Results</h2>
<% @races.each do |x| %>
  <ol>
    <% @var1 = x %>
    <% if !x.finish_time.nil?  %>
      <%= render 'race_item', x: x %>
    <% end %>
  </ol>

<% end %>