<h1>Test</h1>
<h1><%= @period %></h1>
<%= link_to "Back", "/log/#{@user[:id]}/#{@period - 1}" %><%= link_to "Forward", "/log/#{@user[:id]}/#{@period + 1}" %>
<% 28.times do |x| %>
  <p><%= (@start  + x.day).strftime("%A %d/%m/%y") %></p>
<% end %>


