
<p>
  Start date: <%= phase_item.start_date.strftime("%d/%m/%y") %> 
  Target date: <%= phase_item.target_date.strftime("%d/%m/%y") %>
  <%= "Start from phase II" unless phase_item.include_phase_I %>
</p>
